# KNN with scikit-learn - Lab

## Introduction

In this lab, you'll learn how to use scikit-learn's implementation of a KNN classifier on the classic Titanic dataset from Kaggle!
 

## Objectives

In this lab you will:

- Conduct a parameter search to find the optimal value for K 
- Use a KNN classifier to generate predictions on a real-world dataset 
- Evaluate the performance of a KNN model  


## Getting Started

Start by importing the dataset, stored in the `titanic.csv` file, and previewing it.

In [1]:
# Your code here
# Import pandas and set the standard alias 
import pandas as pd

# Import the data from 'titanic.csv' and store it in a pandas DataFrame 
raw_df = pd.read_csv('titanic.csv')

# Print the head of the DataFrame to ensure everything loaded correctly 
raw_df.head()

C:\Users\Rahkeem\Anaconda3\envs\learn-env\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 216, got 192
  return f(*args, **kwds)
C:\Users\Rahkeem\Anaconda3\envs\learn-env\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 216, got 192
  return f(*args, **kwds)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Great!  Next, you'll perform some preprocessing steps such as removing unnecessary columns and normalizing features.

## Preprocessing the data

Preprocessing is an essential component in any data science pipeline. It's not always the most glamorous task as might be an engaging data visual or impressive neural network, but cleaning and normalizing raw datasets is very essential to produce useful and insightful datasets that form the backbone of all data powered projects. This can include changing column types, as in: 


```python
df['col_name'] = df['col_name'].astype('int')
```
Or extracting subsets of information, such as: 

```python
import re
df['street'] = df['address'].map(lambda x: re.findall('(.*)?\n', x)[0])
```

> **Note:** While outside the scope of this particular lesson, **regular expressions** (mentioned above) are powerful tools for pattern matching! See the [regular expressions official documentation here](https://docs.python.org/3.6/library/re.html). 

Since you've done this before, you should be able to do this quite well yourself without much hand holding by now. In the cells below, complete the following steps:

1. Remove unnecessary columns (`'PassengerId'`, `'Name'`, `'Ticket'`, and `'Cabin'`) 
2. Convert `'Sex'` to a binary encoding, where female is `0` and male is `1` 
3. Detect and deal with any missing values in the dataset:  
    * For `'Age'`, replace missing values with the median age for the dataset  
    * For `'Embarked'`, drop the rows that contain missing values
4. One-hot encode categorical columns such as `'Embarked'` 
5. Store the target column, `'Survived'`, in a separate variable and remove it from the DataFrame

In [2]:
# Drop the unnecessary columns
df = raw_df.drop(labels=['PassengerId','Name','Ticket','Cabin'], axis=1)
df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [3]:
# Convert Sex to binary encoding
df['Sex'] = pd.get_dummies(df.Sex)
df.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    0  22.0      1      0   7.2500        S
1         1       1    1  38.0      1      0  71.2833        C
2         1       3    1  26.0      0      0   7.9250        S
3         1       1    1  35.0      1      0  53.1000        S
4         0       3    0  35.0      0      0   8.0500        S

In [4]:
# Find the number of missing values in each column
df.isna().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      2
dtype: int64

In [5]:
# Impute the missing values in 'Age'
df['Age'] = df.Age.fillna(df.Age.median())
df.isna().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    2
dtype: int64

In [6]:
# Drop the rows missing values in the 'Embarked' column
df = df.dropna()
df.isna().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [7]:
df

     Survived  Pclass  Sex   Age  SibSp  Parch      Fare Embarked
0           0       3    0  22.0      1      0    7.2500        S
1           1       1    1  38.0      1      0   71.2833        C
2           1       3    1  26.0      0      0    7.9250        S
3           1       1    1  35.0      1      0   53.1000        S
4           0       3    0  35.0      0      0    8.0500        S
5           0       3    0  28.0      0      0    8.4583        Q
6           0       1    0  54.0      0      0   51.8625        S
7           0       3    0   2.0      3      1   21.0750        S
8           1       3    1  27.0      0      2   11.1333        S
9           1       2    1  14.0      1      0   30.0708        C
10          1       3    1   4.0      1      1   16.7000        S
11          1       1    1  58.0      0      0   26.5500        S
12          0       3    0  20.0      0      0    8.0500        S
13          0       3    0  39.0      1      5   31.2750        S
14          0       3    1  14.0      0      0    7.8542        S
15          1       2    1  55.0      0      0   16.0000        S
16          0       3    0   2.0      4      1   29.1250        Q
17          1       2    0  28.0      0      0   13.0000        S
18          0       3    1  31.0      1      0   18.0000        S
19          1       3    1  28.0      0      0    7.2250        C
20          0       2    0  35.0      0      0   26.0000        S
21          1       2    0  34.0      0      0   13.0000        S
22          1       3    1  15.0      0      0    8.0292        Q
23          1       1    0  28.0      0      0   35.5000        S
24          0       3    1   8.0      3      1   21.0750        S
25          1       3    1  38.0      1      5   31.3875        S
26          0       3    0  28.0      0      0    7.2250        C
27          0       1    0  19.0      3      2  263.0000        S
28          1       3    1  28.0      0      0    7.8792        Q
29          0       3    0  28.0      0      0    7.8958        S
..        ...     ...  ...   ...    ...    ...       ...      ...
861         0       2    0  21.0      1      0   11.5000        S
862         1       1    1  48.0      0      0   25.9292        S
863         0       3    1  28.0      8      2   69.5500        S
864         0       2    0  24.0      0      0   13.0000        S
865         1       2    1  42.0      0      0   13.0000        S
866         1       2    1  27.0      1      0   13.8583        C
867         0       1    0  31.0      0      0   50.4958        S
868         0       3    0  28.0      0      0    9.5000        S
869         1       3    0   4.0      1      1   11.1333        S
870         0       3    0  26.0      0      0    7.8958        S
871         1       1    1  47.0      1      1   52.5542        S
872         0       1    0  33.0      0      0    5.0000        S
873         0       3    0  47.0      0      0    9.0000        S
874         1       2    1  28.0      1      0   24.0000        C
875         1       3    1  15.0      0      0    7.2250        C
876         0       3    0  20.0      0      0    9.8458        S
877         0       3    0  19.0      0      0    7.8958        S
878         0       3    0  28.0      0      0    7.8958        S
879         1       1    1  56.0      0      1   83.1583        C
880         1       2    1  25.0      0      1   26.0000        S
881         0       3    0  33.0      0      0    7.8958        S
882         0       3    1  22.0      0      0   10.5167        S
883         0       2    0  28.0      0      0   10.5000        S
884         0       3    0  25.0      0      0    7.0500        S
885         0       3    1  39.0      0      5   29.1250        Q
886         0       2    0  27.0      0      0   13.0000        S
887         1       1    1  19.0      0      0   30.0000        S
888         0       3    1  28.0      1      2   23.4500        S
889         1       1    0  26.0      0      0   30.0000        C
890         0       3    0  32.0      0      0    7.7500        Q

[889 rows x 8 columns]

In [8]:
# One-hot encode the categorical columns
one_hot_df = pd.get_dummies(df)
one_hot_df.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
0,0,3,0,22.0,1,0,7.2500,0,0,1
1,1,1,1,38.0,1,0,71.2833,1,0,0
2,1,3,1,26.0,0,0,7.9250,0,0,1
3,1,1,1,35.0,1,0,53.1000,0,0,1
4,0,3,0,35.0,0,0,8.0500,0,0,1

In [9]:
# Assign the 'Survived' column to labels
labels = df.Survived

# Drop the 'Survived' column from one_hot_df
one_hot_df.drop(labels=['Survived'], inplace=True, axis=1)

In [10]:
one_hot_df.head()

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
0,3,0,22.0,1,0,7.2500,0,0,1
1,1,1,38.0,1,0,71.2833,1,0,0
2,3,1,26.0,0,0,7.9250,0,0,1
3,1,1,35.0,1,0,53.1000,0,0,1
4,3,0,35.0,0,0,8.0500,0,0,1

## Create training and test sets

Now that you've preprocessed the data, it's time to split it into training and test sets. 

In the cell below:

* Import `train_test_split` from the `sklearn.model_selection` module 
* Use `train_test_split()` to split the data into training and test sets, with a `test_size` of `0.25`. Set the `random_state` to 42

In [11]:
# Import train_test_split 
from sklearn.model_selection import train_test_split

# Split the data
X_train, X_test, y_train, y_test = train_test_split(one_hot_df, labels, test_size=0.25, random_state=42)

C:\Users\Rahkeem\Anaconda3\envs\learn-env\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

## Normalizing the data

The final step in your preprocessing efforts for this lab is to **_normalize_** the data. We normalize **after** splitting our data into training and test sets. This is to avoid information "leaking" from our test set into our training set (read more about data leakage [here](https://machinelearningmastery.com/data-leakage-machine-learning/) ). Remember that normalization (also sometimes called **_Standardization_** or **_Scaling_**) means making sure that all of your data is represented at the same scale. The most common way to do this is to convert all numerical values to z-scores. 

Since KNN is a distance-based classifier, if data is in different scales, then larger scaled features have a larger impact on the distance between points.

To scale your data, use `StandardScaler` found in the `sklearn.preprocessing` module. 

In the cell below:

* Import and instantiate `StandardScaler` 
* Use the scaler's `.fit_transform()` method to create a scaled version of the training dataset  
* Use the scaler's `.transform()` method to create a scaled version of the test dataset  
* The result returned by `.fit_transform()` and `.transform()` methods will be numpy arrays, not a pandas DataFrame. Create a new pandas DataFrame out of this object called `scaled_df`. To set the column names back to their original state, set the `columns` parameter to `one_hot_df.columns` 
* Print the head of `scaled_df` to ensure everything worked correctly

In [23]:
# Import StandardScaler
from sklearn.preprocessing import StandardScaler

# Instantiate StandardScaler
scaler = StandardScaler()

# Transform the training and test sets
scaled_data_train = scaler.fit_transform(X_train)
scaled_data_test = scaler.transform(X_test)

In [24]:
scaled_data_train

array([[ 0.81552849,  1.39065478, -0.57567604, ..., -0.48304589,
        -0.31176809,  0.62017367],
       [-0.38611305,  1.39065478,  1.55017484, ..., -0.48304589,
        -0.31176809,  0.62017367],
       [-0.38611305, -0.71908573, -0.12013657, ..., -0.48304589,
        -0.31176809,  0.62017367],
       ...,
       [-1.58775459,  1.39065478,  1.39832835, ..., -0.48304589,
        -0.31176809,  0.62017367],
       [ 0.81552849,  1.39065478, -0.65159929, ..., -0.48304589,
        -0.31176809,  0.62017367],
       [ 0.81552849, -0.71908573,  0.25947966, ..., -0.48304589,
        -0.31176809,  0.62017367]])

In [25]:
scaled_data_test

array([[ 0.81552849, -0.71908573, -0.12013657, ..., -0.48304589,
        -0.31176809,  0.62017367],
       [-1.58775459,  1.39065478, -1.18306201, ..., -0.48304589,
        -0.31176809,  0.62017367],
       [ 0.81552849,  1.39065478, -1.18306201, ...,  2.07019668,
        -0.31176809, -1.61245155],
       ...,
       [ 0.81552849, -0.71908573, -0.12013657, ..., -0.48304589,
        -0.31176809,  0.62017367],
       [-0.38611305,  1.39065478, -0.12013657, ..., -0.48304589,
        -0.31176809,  0.62017367],
       [-1.58775459,  1.39065478, -0.12013657, ..., -0.48304589,
        -0.31176809,  0.62017367]])

In [26]:
# Convert into a DataFrame
scaled_df_train = pd.DataFrame(scaled_data_train, columns=one_hot_df.columns)
scaled_df_train.head()

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
0,0.815528,1.390655,-0.575676,-0.474917,-0.480663,-0.500108,-0.483046,-0.311768,0.620174
1,-0.386113,1.390655,1.550175,-0.474917,-0.480663,-0.435393,-0.483046,-0.311768,0.620174
2,-0.386113,-0.719086,-0.120137,-0.474917,-0.480663,-0.644473,-0.483046,-0.311768,0.620174
3,-1.587755,-0.719086,-0.120137,-0.474917,-0.480663,-0.115799,-0.483046,-0.311768,0.620174
4,0.815528,1.390655,-1.107139,0.413551,-0.480663,-0.356656,2.070197,-0.311768,-1.612452

In [ ]:
scaled_df_train_y = pd.DataFrame(scal)

You may have noticed that the scaler also scaled our binary/one-hot encoded columns, too! Although it doesn't look as pretty, this has no negative effect on the model. Each 1 and 0 have been replaced with corresponding decimal values, but each binary column still only contains 2 values, meaning the overall information content of each column has not changed.

## Fit a KNN model

Now that you've preprocessed the data it's time to train a KNN classifier and validate its accuracy. 

In the cells below:

* Import `KNeighborsClassifier` from the `sklearn.neighbors` module 
* Instantiate the classifier. For now, you can just use the default parameters  
* Fit the classifier to the training data/labels
* Use the classifier to generate predictions on the test data. Store these predictions inside the variable `test_preds`

In [43]:
# Import KNeighborsClassifier
from sklearn.neighbors import KNeighborsClassifier

# Instantiate KNeighborsClassifier
clf = KNeighborsClassifier()

# Fit the classifier
# clf.fit(scaled_df_train, y_train) #can also be used with the train df.
clf.fit(scaled_data_train, y_train)

# Predict on the test set
test_preds = clf.predict(scaled_data_test)

## Evaluate the model

Now, in the cells below, import all the necessary evaluation metrics from `sklearn.metrics` and complete the `print_metrics()` function so that it prints out **_Precision, Recall, Accuracy, and F1-Score_** when given a set of `labels` (the true values) and `preds` (the models predictions). 

Finally, use `print_metrics()` to print the evaluation metrics for the test predictions stored in `test_preds`, and the corresponding labels in `y_test`.

In [44]:
# Your code here 
# Import the necessary functions
from sklearn.metrics import accuracy_score, recall_score, f1_score, precision_score

In [45]:
# Complete the function
def print_metrics(labels, preds):
    print("Precision Score: {}".format(precision_score(labels, preds)))
    print("Recall Score: {}".format(recall_score(labels, preds)))
    print("Accuracy Score: {}".format(accuracy_score(labels, preds)))
    print("F1 Score: {}".format(f1_score(labels, preds)))
    
print_metrics(y_test, test_preds)

Precision Score: 0.7058823529411765
Recall Score: 0.7317073170731707
Accuracy Score: 0.7892376681614349
F1 Score: 0.718562874251497

In [57]:
def calc_metrics(labels, preds):
    
    metrics = {
        "precision": precision_score(labels, preds),
        "recall" : recall_score(labels, preds),
        "accuracy": accuracy_score(labels, preds),
        "f1": f1_score(labels, preds)
    }
    return metrics

In [71]:
list(zip(y_test, test_preds))[:10]

[(0, 0),
 (1, 1),
 (1, 1),
 (0, 0),
 (1, 1),
 (1, 0),
 (0, 0),
 (0, 0),
 (1, 1),
 (1, 1)]

> Interpret each of the metrics above, and explain what they tell you about your model's capabilities. If you had to pick one score to best describe the performance of the model, which would you choose? Explain your answer.

Write your answer below this line: 


________________________________________________________________________________

## Improve model performance

While your overall model results should be better than random chance, they're probably mediocre at best given that you haven't tuned the model yet. For the remainder of this notebook, you'll focus on improving your model's performance. Remember that modeling is an **_iterative process_**, and developing a baseline out of the box model such as the one above is always a good start. 

First, try to find the optimal number of neighbors to use for the classifier. To do this, complete the `find_best_k()` function below to iterate over multiple values of K and find the value of K that returns the best overall performance. 

The function takes in six arguments:
* `X_train`
* `y_train`
* `X_test`
* `y_test`
* `min_k` (default is 1)
* `max_k` (default is 25)
    
> **Pseudocode Hint**:
1. Create two variables, `best_k` and `best_score`
1. Iterate through every **_odd number_** between `min_k` and `max_k + 1`. 
    1. For each iteration:
        1. Create a new `KNN` classifier, and set the `n_neighbors` parameter to the current value for k, as determined by the loop 
        1. Fit this classifier to the training data 
        1. Generate predictions for `X_test` using the fitted classifier 
        1. Calculate the **_F1-score_** for these predictions 
        1. Compare this F1-score to `best_score`. If better, update `best_score` and `best_k` 
1. Once all iterations are complete, print the best value for k and the F1-score it achieved

In [68]:
def find_best_k(X_train, y_train, X_test, y_test, min_k=1, max_k=25):
    # Your code here
    best_k = best_score = None
    for i in range(min_k, max_k+1, 2):
        clf = KNeighborsClassifier(n_neighbors=i)
        clf.fit(X_train, y_train)
        preds = clf.predict(X_test)
        metrics = calc_metrics(labels=y_test, preds=preds)
        
        #takes care of initial scenarios where nothing is set
        if best_score == None:
            best_k = i
            best_score = metrics['f1']

        # Takes care of the metrics for the 
        if metrics['f1'] > best_score:
            best_score = metrics['f1']
            best_k = i
    return best_k, best_score

In [69]:
find_best_k(scaled_data_train, y_train, scaled_data_test, y_test)
# Expected Output:

# Best Value for k: 17
# F1-Score: 0.7468354430379746

(17, 0.7468354430379746)

If all went well, you'll notice that model performance has improved by 3 percent by finding an optimal value for k. For further tuning, you can use scikit-learn's built-in `GridSearch()` to perform a similar exhaustive check of hyperparameter combinations and fine tune model performance. For a full list of model parameters, see the [sklearn documentation !](https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KNeighborsClassifier.html)



## (Optional) Level Up: Iterating on the data

As an optional (but recommended!) exercise, think about the decisions you made during the preprocessing steps that could have affected the overall model performance. For instance, you were asked to replace the missing age values with the column median. Could this have affected the overall performance? How might the model have fared if you had just dropped those rows, instead of using the column median? What if you reduced the data's dimensionality by ignoring some less important columns altogether?

In the cells below, revisit your preprocessing stage and see if you can improve the overall results of the classifier by doing things differently. Consider dropping certain columns, dealing with missing values differently, or using an alternative scaling function. Then see how these different preprocessing techniques affect the performance of the model. Remember that the `find_best_k()` function handles all of the fitting; use this to iterate quickly as you try different strategies for dealing with data preprocessing!

## Summary

Well done! In this lab, you worked with the classic Titanic dataset and practiced fitting and tuning KNN classification models using scikit-learn! As always, this gave you another opportunity to continue practicing your data wrangling skills and model tuning skills using Pandas and scikit-learn!

Solution: https://github.com/learn-co-curriculum/dsc-knn-with-scikit-learn-lab/tree/solution